.footer__list-point {
  margin-right: 18px;
}
.footer__list-point:last-of-type {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__list-point {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .footer__list-point:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}
